appdirs=1.4.4=pypi_0
blitz-bayesian-pytorch=0.2.7=pypi_0
ca-certificates=2020.12.8=hecd8cb5_0
certifi=2020.12.5=py37hecd8cb5_0
cfgv=3.2.0=pypi_0
cycler=0.10.0=pypi_0
distlib=0.3.1=pypi_0
filelock=3.0.12=pypi_0
identify=1.5.11=pypi_0
importlib-metadata=3.3.0=pypi_0
joblib=1.0.0=pypi_0
kiwisolver=1.3.1=pypi_0
libcxx=10.0.0=1
libedit=3.1.20191231=h1de35cc_1
libffi=3.3=hb1e8313_2
matplotlib=3.3.3=pypi_0
ncurses=6.2=h0a44026_1
nodeenv=1.5.0=pypi_0
numpy=1.19.5=pypi_0
openssl=1.1.1i=h9ed2024_0
pillow=8.1.0=pypi_0
pip=20.3.3=py37hecd8cb5_0
pre-commit=2.9.3=pypi_0
pyparsing=2.4.7=pypi_0
python=3.7.9=h26836e1_0
python-dateutil=2.8.1=pypi_0
pyyaml=5.3.1=pypi_0
readline=8.0=h1de35cc_0
scikit-learn=0.24.0=pypi_0
scipy=1.6.0=pypi_0
setuptools=51.0.0=py37hecd8cb5_2
six=1.15.0=pypi_0
sqlite=3.33.0=hffcf06c_0
threadpoolctl=2.1.0=pypi_0
tk=8.6.10=hb0a8c7a_0
toml=0.10.2=pypi_0
torch=1.7.1=pypi_0
torchvision=0.8.2=pypi_0
tqdm=4.55.1=pypi_0
typing-extensions=3.7.4.3=pypi_0
virtualenv=20.2.2=pypi_0
wheel=0.36.2=pyhd3eb1b0_0
xz=5.2.5=h1de35cc_0
zipp=3.4.0=pypi_0
zlib=1.2.11=h1de35cc_3
